:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
}
html {
  font-size: 20px;
  body {
    margin: 0;
    padding: 0;
  }
  canvas {
    margin: auto;
  }
  p {
    margin: 0;
  }
}
